header {
    width: 100%;
    padding: 28px 8%;

    /* Versão para o menu acompanhar a rolagem da página */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(238, 114, 184);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-item.active a {
    color: black;
    border-bottom: 3px solid red;
}

#mobile_btn{
    display: none;
}

#mobile_pictures{
    display: none;
}

@media screen and (max-width: 1170px) {

    /* NOVO */
    header{
        padding: 20px 5%;
    }

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor:pointer;
    }

    #mobile_pictures.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        width: 100%;
        padding: 0;
    }

    #mobile_nav_list .nav_item,
    #mobile_nav_list .mobile_nav_item{
        list-style: none;
        text-align: center;
    }

    #mobile_nav_list a{
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

/* NOVO */
@media screen and (max-width: 480px){

    header{
        padding: 16px 5%;
    }

    #nav_logo{
        font-size: 1.2rem;
    }

    #mobile_btn{
        font-size: 1.4rem;
    }

}
